@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  z-index: 0;
}

:root {
  --fonte_formulario: 'Mooli', sans-serif;
  --fonte_titulo: 'Roboto Slab', sans-serif;
  --cor1: red;
  --cor2: black;
  --cor3: white;
  --cor4: gray;
  --cor5: black;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--cor5);
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

#nome_do_jogo {
  height: 15%;
}

#descricao_do_jogo {
  height: 30%;
}

#botao_salvar {
  display: flex;
  justify-content: center;
}

#corpo_do_site {
  background-color: var(--cor2);
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "inserir mostrar";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 17vh 83vh;
  height: 100vh;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
}

#titulo {
  align-items: center;
  background-color: var(--cor2);
  color: var(--cor3);
  display: flex;
  font-family: var(--fonte_titulo);
  grid-area: titulo;
  justify-content: center;
  margin: 0;
  text-align: center;
}

#titulo_formulario {
  text-align: center;
}

#titulo_lista {
  text-align: center;
}

#container_inserir_jogos, #container_lista_de_jogos {
  display: flex;
  justify-content: center;
}

#inserir_jogos, #lista_de_jogos {
  background-color: var(--cor3);
  border: 4px solid var(--cor1);
  border-radius: 8px;
  display: flex;
  height: 75vh;
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 75vh;
  max-width: 500px;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 40vw;
}

#inserir_jogos {
  grid-area: inserir;
  justify-content: center;
}

#lista_de_jogos {
  flex-direction: column;
  grid-area: mostrar;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

#lista_de_jogos::-webkit-scrollbar {
    width: 10px; 
}

#lista_de_jogos::-webkit-scrollbar-thumb {
    background: var(--cor2); 
}

#lista_de_jogos::-webkit-scrollbar-track {
    background: var(--cor4); 
}

.add_button {
  width: 65%;
  background-color: var(--cor5);
  color: var(--cor3);
  padding: 14px 20px;
  margin: 3vh 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao_remover, .favorito, .normal {
  background-size: cover;
  border: 0;
  height: 25px;
  left: 0px;
  width: 25px;
}
  
.botao_remover {
  background: url('Imagens/lixeira.png');
} 

.favorito {
  background: url('Imagens/estrela_inteira.png');
}

.normal {
  background: url('Imagens/estrela_vazia.png');
}

.display_block {
  display: block;
}

.titulo_de_jogo {
  margin-bottom: 0;
}

.descricao_de_jogo {
  margin-top: 0;
}

.fonte_formulario {
  font-family: var(--fonte_formulario);
}